/* CATALOG */

.sort-section {
  padding: 35px 0;
  box-sizing: border-box;
  height: 70px;
  background-color: #CCC;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter {
  position: relative;
  display: inline-block;
  float: left;
  margin-left: 60px;
  margin-right: auto;
}

.filter-list, .sort-list {
  position: absolute;
  padding-top: 15px;
  left: -10px;
  z-index: 100;
}

.filter-list li, .sort-list li {
  display: block;
  padding: 10px;
  background-color: #CCC;
  width: 230px;
}

.filter-list li a, .sort-list li a {
  display: block;
  height: 100%;
  width: 100%;
}

.filter-list li:hover, .sort-list li:hover {
  background-color: #AAA;
}

.filter:hover .filter-list {
  display: block;
}

.sort:hover .sort-list {
  display: block;
}

.sort-list {
  text-align: right;
  left: -160px;
}

.sort {
  position: relative;
  display: inline-block;
  float: right;
  margin-right: 60px;
}

.sort-list {
  position: absolute;
}

.sort-section a {
  display: block;
  height: 100%;
  color: black;
  font-size: 2em;
}

.catalog-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 170px);
  column-gap: 50px;
  row-gap: 25px;
  height: 100%;
  padding: 0 30px;
}

.catalog-grid a {
    color: black;
}

.catalog-item {
  height: 220px;
  background-color: #CCC;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}



.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.grid-item-rating {
  background-color: #FBB03B;
  border-radius: 15px;
  padding: 7px;
  margin-bottom: 5px;
  margin-top: auto;
  text-align: center;
}

.coffee-image {
  position: relative;
  height: 120px;
  margin-left: 10px;
  margin-bottom: auto;
  margin-top: 20px;
  padding-bottom: 5px;
}

.coffee-image img {
  position: relative;
  height: 100%;
  z-index: 10;
}

.coffee-ingredient {
  position: absolute;
  left: 6px;
  top: 0;
  height: 114px;
  width: 85px;
}

.coffee-ingredient1 {
  clip-path: polygon(0 20%, 100% 20%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 100%, 0% 100%);
}

.coffee-ingredient2 {
  clip-path: polygon(0 45%, 100% 45%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0 45%, 100% 45%, 100% 100%, 0% 100%);
}

.coffee-ingredient3 {
  clip-path: polygon(0 70%, 100% 70%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 100%, 0% 100%);
}

.coffee-title {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2em;
}

/* FOR SMARTPHONES */
@media only screen
    and (max-device-width : 500px)
    and (orientation: portrait) {

    .catalog-grid {
      grid-template-columns: repeat(auto-fit, 600px);
      row-gap: 50px;
    }

    .catalog-item {
      height: 600px;
      padding: 30px;
      border-radius: 100px;
    }

    .coffee-ingredient {
      position: absolute;
      left: 10px;
      top: 0;
      height: 332px;
      width: 255px;
    }

    .coffee-image {
      height: 350px;
      margin-left: 40px;
      margin-top: 50px;
      padding-bottom: 10px;
    }

    .coffee-title {
      font-size: 3em;
    }

    .sort-section {
      height: 120px;
      margin-bottom: 50px;
    }

    .filter-list, .sort-list {
      position: absolute;
      padding-top: 31px;
      left: -25px;
      z-index: 100;
    }

    .filter-list li, .sort-list li {
      padding: 20px;
      width: 400px;
    }

    .sort-list {
      left: -300px;
    }

    .sort-section a {
      display: block;
      height: 100%;
      color: black;
      font-size: 3em;
    }

    .grid-item-rating {
      font-size: 2em;
      border-radius: 50px;
      padding: 20px;
    }
}
