.espresso {
  background-color: #42210B;
}

.milk {
  background-color: #E6E6E6;
}

.milk-foam {
  background-color: #ccd5e3;
}

.water {
  background-color: #3E97D1;
}

.chocolate {
  background-color: #A64A00;
}

.honey {
  background-color: #FF7100;
}

.syrup {
  background-color: #BF8230;
}

.whipped-cream {
  background-color: #FFD973;
}

.liquor {
  background-color: #FFCC73;
}

.whiskey {
  background-color: #D06D00;
}
