main {
  padding-top: 150px;
  width: 60%;
  margin: 0 auto;
}

.login-section {
  width: 100%;
}

main form {
  width: 60%;
  background-color: #CCC;
  margin: 0 auto;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 40px 30px;
  font-size: 1.5em;
}

main form input {
  width: 100%;
  font-size: 1.2em;
  box-sizing: border-box;
  padding: 5px;
  margin-bottom: 20px;
  margin-top: 5px;
}

main form button {
  float: right;
  font-size: inherit;
  padding: 5px;
}

@media only screen
    and (max-device-width : 500px)
    and (orientation: portrait) {

      main {
        padding-top: 30vh;
      }

      main form {
        width: 100%;
        border-radius: 40px;
        padding: 60px 50px;
        font-size: 2.5em;
      }

      main form input {
        padding: 10px;
        margin-bottom: 40px;
        margin-top: 15px;
      }

      main form button {
        padding: 10px 20px;
      }
}
